<h1>Todos</h1>

<ul>
  <li>
    <form (submit)="onSubmit($event)">
      <input type="text"  placeholder="New Todo" [(ngModel)]="content" name="content">
      <button type="submit" >+</button>
    </form>
  </li>
  <li *ngFor="let todo of todo$">
    <ul>
      <li>{{ todo.content }}</li>
      <li>{{ todo.date }}</li>
      <button type="button" (click)='onDelete(todo.id)'>X</button>
    </ul>
  </li>
</ul>