<nav>
  <ul>
    <li>
      <a routerLink="helloworld">
        <small>Hello World</small>
        <span class="material-icons">call</span>
      </a>
    </li>
    <li>
      <a routerLink="">
        <small>Todo Lista</small>
        <span class="material-icons">view_list</span>
      </a>
    </li>
  </ul>
</nav>