<h1>Hello World</h1>
<ul>
    <li>
        <form (submit)="onSubmit($event)">
            <input type="text"  placeholder="Kérem a neved" [(ngModel)]="name" name="name">
            <button type="submit" >Hello</button>
                
        </form>

    </li>
</ul>